@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent-1: hsl(42, 80%, 65%);
    --color-accent-2: hsl(42, 75%, 60%);
    --color-alpha-bg-1: hsla(0, 0%, 0%, 10%);
    --color-alpha-bg-2: hsla(0, 0%, 0%, 30%);
    --color-alpha-bg-3: hsla(0, 0%, 0%, 60%);
    --color-alpha-fg-1: hsla(0, 0%, 100%, 5%);
    --color-alpha-fg-2: hsla(0, 0%, 100%, 10%);
    --color-alpha-fg-3: hsla(0, 0%, 100%, 15%);
    --color-bg-1: hsl(0, 0%, 8%);
    --color-bg-2: hsl(0, 0%, 10%);
    --color-fg-1: hsl(0, 0%, 90%);
    --color-fg-2: hsl(0, 0%, 70%);
    --color-red-1: hsl(0, 80%, 65%);
    --color-red-2: hsl(0, 75%, 60%);
    --radius-default: 0.5rem;
  }
}
